* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.btn-show-pass {
  /*font-size: 15px;*/
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 16px;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #52BCD3;
  color: -webkit-linear-gradient(left, #FF00FF , #FF00FF  );
  color: -o-linear-gradient(left, #FF00FF  , #FF00FF  );
  color: -moz-linear-gradient(left, #FF00FF  , #FF00FF  );
  color: linear-gradient(left, #FF00FF  , #FF00FF );
}

.btn-show-pass.active {
  color: #52BCD3;
  color: -webkit-linear-gradient(left, #FF00FF , #FF00FF );
  color: -o-linear-gradient(left, #FF00FF , #FF00FF );
  color: -moz-linear-gradient(left, #FF00FF , #FF00FF );
  color: linear-gradient(left, #FF00FF  , #FF00FF );
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}